@import "footer";

$color_fondo: linear-gradient(315deg, rgba(10, 242, 250, 0.562) 10%, #f310c200 85% );
$font_titulo:'Pacifico';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.formulario{
    margin: 1rem;
    padding: 1rem;
    justify-self: center;
    align-items: center;
   
    width: 90%;
        justify-content: center;
        text-align: center;
        color: rgb(250, 246, 246);
        font-size: 1rem;
        font-family: $font_titulo;
        
       
    }